<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Mitglied hinzufügen</title>
    <style>
    table {
        width:490px;
        border: 2px solid lightgray;
        margin: 10px;
        padding: 10px;

        font-family:Verdana;
        font-size:12px;
    }
    td {
        padding: 10px;
    }
    input, select {
        width:200px;
        margin-top:5px;
    }

    .inputCBX {
        width:20px;
    }
    .inputB3 {
        width:430px;
    }
    .submitbutton {
        margin-left:140px;
    }

    </style>
</head>

<body>
    <form name="registration form" action = "{% url 'register' %}"
     method="post">{% csrf_token %}

        <!-- 1. Block -->

        <table>
        <tr>
            <td>
                <input type="checkbox" value="iog_member" class="inputCBX">IoG-Mitglied
            </td>
            <td>Interne Ansprechperson<br>
                <input type="text" name="contact_person">
            </td>
        </tr>
        <tr>
            <td>Regionalgruppe<br>
            <select name="regional_group">
                <option value="RG_Graz">RG Graz</option>
                <option value="RG_Leoben">RG Leoben</option>
                <option value="RG_Salzburg/Oberösterreich">RG Salzburg/Oberösterreich</option>
                <option value="RG_Tirol">RG Tirol</option>
                <option value="RG_Wien">RG Wien</option>
            </select>
            </td>
        </tr>
        </table>

        <!-- 2. Block -->

        <table>
        <tr>
            <td>Vorname<br>
                <input type="text" name="first_name" required>
            </td>
            <td colspan="2">Nachname<br>
                <input type="text" name="last_name" required>
            </td>
        </tr>
        <tr>
            <td>Telefonnummer<br>
                <input type="text" name="telephone_number">
            </td>
            <td colspan="2">E-Mail Adresse<br>
                <input type="email" name="email" required>
            </td>
        </tr>
        <tr>
            <td>Straße<br>
                <input type="text" name="address_street">
            </td>
            <td>Nummer/Stiege/Tür<br>
                <input type="text" name="address_street_number">
            </td>
            <td>PLZ<br>
                <input type="text" name="address_plz" style="width:50px">
            </td>
            <td>Ort<br>
                <input type="text" name="address_city" style="width:120px">
            </td>
        </tr>
        </table>

        <!-- 3. Block -->

        <table>
        <tr>
            <td colspan="2">Technische Kompetenzen<br>
                <input type="text" name="technical_competences" class="inputB3">
            </td>
        </tr>
        <tr>
            <td colspan="2">Sprachen<br>
                <input type="text" name="languages" class="inputB3">
            </td>
        </tr>
        <tr>
            <td colspan="2">Sonstige Kompetenzen<br>
                <input type="text" name="other_competences" class="inputB3">
            </td>
        </tr>
        </table>

        <!-- 4. Block -->

        <table>
        <tr>
            <td>Projektgruppen<br>
                <select size="3" name="project_group">
                    <option value="PG_TailoringTogo">PG Tailoring Togo</option>
                    <option value="PG_Flüchtlingshilfe">PG Flüchtlingshilfe</option>
                    <option value="PG_Vortragsreihe">PG Vortragsreihe</option>
                </select>
            </td>
            <td>Arbeitsgruppen<br>
                <select size="3" name="focus_group">
                    <option value="AG_Fundraising">AG Fundraising</option>
                    <option value="AG_IT">AG IT</option>
                    <option value="AG_PR">AG PR</option>
                </select>
            </td>
        </tr>
        </table>

        <!-- Submit -->
        <table style="border:0px; margin:0px; padding:0px;">
        <tr>
            <td>
            <input type="submit" value="Submit" class="submitbutton">
            </td>
        </tr>
        </table>

    </form>

</body>
</html>